.project_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .project_thumb {
    margin-right: 20px;
  }
  h2 {
    margin-right:auto;
  }
  a {
    margin-left: 10px;
  }
}

.about, .readme {
  white-space: pre-line;
}

.tab_title {
  margin-top: 20px;
  margin-bottom: 20px;
}


.about, .readme {
  padding-bottom: 50px;

  overflow-x: auto;
  max-width: 100%;

  table {
    border: 1px solid #ccc;
    th, td {
      border: 1px solid #ccc;
      border-collapse: collapse;
      padding-left: 10px;
      padding-right: 10px;
    }
    td:nth-child(2) {
      background: #f6f6f6;
    }
  }
}

.protected {
  margin-top: 20px;
  i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.1em;
  }
}

.hide_tabs {
  .nav-tabs {
    display: none;
  }
  .tab_title {
    display: none;
  }
}