@import "../config";

.project_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  h2 {
    margin-left: 20px;
    margin-right:auto;
  }
  a {
    margin-left: 10px;
  }
}

.about, .readme {
  white-space: pre-line;
}

.tab_title {
  margin-top: 20px;
  margin-bottom: 20px;
}


.about, .readme {
  padding-bottom: 50px;

  overflow-x: auto;
  max-width: 100%;

  table {
    border: 1px solid #ccc;
    th, td {
      border: 1px solid #ccc;
      border-collapse: collapse;
      padding-left: 10px;
      padding-right: 10px;
    }
    td:nth-child(2) {
      background: #f6f6f6;
    }
  }
}

.gallery {
  .gallery-current {

    max-height: 700px;
    overflow: hidden;
    border: 3px solid #ccc;
    border-radius: 4px;

    img {
      width: 100%;
    }
  }

  .gallery-list {

    margin-top: 10px;
    border: 3px solid #ccc;
    border-radius: 4px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .gallery-item {

      margin: 10px;
      @include circle-image();
      width: 100px;
      height: 100px;

      &.active {
        border-color: #cb7832;
      }
    }
  }
}

.protected {
  margin-top: 20px;
  i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.1em;
  }
}

.files {

  .fileslist {

    overflow: scroll;
    padding-top: 10px;
    padding-bottom: 20px;

    a {

      display: block;
      background-color: #bbb;
      color: #000;
      border-radius: 4px;
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #aaa;
      line-height: 16px;

      &:hover {
        background-color: #ddd;
        border-color: #eee;
        text-decoration: none;
      }

      &.active {
        text-decoration: none;
        color: #fff;
        background-color: #2b2b2b;
        border-color: #3b3b3b;
      }
    }
  }

  h5 {
    font-family: "serenity", sans-serif;
    margin-top: 20px;
    font-weight: bold;
    padding: 10px;
    line-height: 16px;
    border-radius: 4px;
    background-color: #2b2b2b;
    border-color: #3b3b3b;
    color: #fff;
  }

  pre.code {
    padding: 0;
    code {
      padding: 10px;
    }
  }

}
