$blue : #337ab7;
$darker-blue: #286090;
$green : #42A948;
$red : #a94442;


@mixin img-fill(){
  display:			flex;
  justify-content:	center;
  align-items:		center;
  overflow:			hidden;
  img {
    flex-shrink:		0;
    min-width:		100%;
    min-height:		100%
  }
}

@mixin circle-image(){
  border-radius: 50%;
  border: 3px solid #ccc;
  position: relative;
  @include img-fill();

  .title {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ccc;
    opacity: 0.7;
    align-items: center;
    justify-content: center;
    display: none;
    p {
      font-size: calc((24px / 200) * 100%);
      font-weight: bold;
      margin: 0;
      text-align:center;
    }
  }

  &:hover .title {
    display: flex;
  }

}

.hidden-phone {
  @media only screen and (max-width: 480px) {
    display: none;
  }
}
