$background: #121212;
$foreground: #ffffff;
$subBackground: #1F1F1F;

$blue: #237CB8;
$pink: #8F227D;

$darker-blue: #286090;
$green: #42A948;
$red: #a94442;

@mixin img-fill() {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
  }
}

@mixin circle-image() {
  border-radius: 50%;
  border: 3px solid #ccc;
  position: relative;
  @include img-fill();
}

.hidden-phone {
  @media only screen and (max-width: 480px) {
    display: none;
  }
}
